.my-col-1 {
  background-color: #147a4b; /* Color for the first column */
}

.my-col-2 {
  background-color: white; /* Color for the second column */
}

.my-col-3 {
  background-color: rgb(181, 35, 35); /* Color for the third column */
}

.circular-image {
     width: 500x;  /* Adjust as needed */
     height: 500px; /* Adjust as needed */
     border-radius: 100%; /* Makes it a circle */
/* Hides any part of the image that goes beyond the circle */
}

.image-container {
  text-align: center; /* Centers the image within the container if it's an inline or inline-block element */
}
.center-image {
  display: block; /* Ensures the image is treated as a block element */
  margin-left: auto; /* Sets the left margin to automatically adjust */
  margin-right: auto; /* Sets the right margin to automatically adjust */
}
